<!DOCTYPE html>
<html>
  <head>
	<title>IPFS</title>
    	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script type="text/javascript" src="/javascripts/jquery2.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>Document upload system</h2>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-6 left text-center">
			<div class="wrapper">
				<div class="dropZoneBox">
					<div id="dropZone">Drop files here to upload</div>
					<h6>Upload Status</h6>
					<table id="progressTable">
						<tr>
							<th><b><span id="progress">000</span>%</b></th>
							<td>
								<div class="progressBar">
									<div id="progressBar"></div>
								</div>
								<button id="abortButton" onclick="abortRead();"><span></span></button>
							</td>
						</tr>
					</table>
				</div><!-- .dropZoneContainer -->
				<output id="output"></output>
			</div><!-- .wrapper -->
			<center>
				<br>
				<!-- <input type="file"> -->
				<label>
					<input type="checkbox"> Encrypted
				</label>
				<br>
				<label>
					Hash: <span id="hash">a1s9d8a1f98a1sf98as198vsaASDAS</span>
				</label>
				<br>
				<label>
					Password: <span id="password">GDAGAGASasda1sd891aG1A</span>
				</label>
			</center>

		</div>
		<div class="col-md-6 right">
			<br>
					<br>
					<br>
					<br>
			<div class="row">
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4 text-center">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="HASH">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="PASSWORD">
					</div>
					<input type="submit" class="btn btn-defulat" value="DOWNLOAD">
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
    <script type="text/javascript" src="/javascripts/dropUploadFile.js"></script>

  </body>
</html>


